/*Using font used in the USCG Logo*/
@font-face {
	font-family: 'USCG-Font';
	src: url(items/USCG-Font.TTF);
}

body {
	text-align: center;
	font-family: 'USCG-Font';
}

a {
	text-decoration: none;
	color: #084482;
	font-style: italic;
}

/*Size of logo */
#logo {
	width: 35%;
	height: 35%;
}

/*Literally just a line*/
#line {
	border-bottom-width: 100px;
	border-bottom: 2px solid black;
}


/*design of list option*/
#list {
	font-size: 1.5em;
	margin: 0 15% 0 15%;
	text-align: center; 
}

#list li {
	padding: 10px;
}

#adressing-list {
	font-size: 1.3em;
	margin: 0 15% 0 15%;
	text-align: center;
}

#rank-list {
	font-size: 1em;
	margin: 0 15% 0 15%;
	text-align: center;
}

#rank-list img {
	width: 25%;
	height: 40%;
}

/*design for the vocabular section*/
#vocab-list {
	text-align: left;
	margin: 0 15% 0 15%;
	font-size: 1.5em;
} 

/*desgin of game option*/
#game {
	font-size: 1.5em;
	margin: 0 15% 0 15%;
}

/*Class for the navigation of the book*/
.nav {
	color: black;
	margin: 0 15% 0 15%;
}

.extra {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*the footer of every page*/ 
.owner {
	font-size: .5em;
	padding: 2%;
	width: 90%;

	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;

	color: white;
	background-color: #084482;
}

/*dimensions to help fit boats on table*/

#uniforms img {
	height: 300px;
}

#addressing-list {
	margin: 0 15% 0 15%;
}

/*button style*/
button {
	font-size: 1.5em;
	margin-top: 3%;
	height: 30%;
	width: 20%;
}

/*input style */
input {
	height: 100px;
	width: 50%;
	border-color: grey;
	font-size: 1.5em;
}

/*table style*/
table {
	margin-left: auto;
	margin-right: auto;
	background-color: #666;
	color: white;
	width: 70%;
}

table th {
	padding: 1%;
	background-color: #777;
}

table img {
	width: 75%;
	height: 45%;
	background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 567px) {
	table img {
		width: 95%;
		height: 30%;
		background-color: white;
	}
	#rank-list img {
		width: 55%;
		height: 40%;
	}
	#logo {
		width: 32%;
		height: 32%;
	}
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
	.owner {
		width: 70%;
	}
	#logo {
		width: 20%;
		height: 20%;
	}
}

@media screen and (min-width: 1024px) {
	#rank-list img {
		width: 50%;
		height: 85%;
	}
	.owner {
		width: 70%;
	}
	#logo {
		width: 20%;
		height: 20%;
	}
}

